<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Best Practices In Continuous Development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Continuous Development</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
				<li><a href="/cloud">Using The Cloud</a></li>
				<li><a href="/best">Best Practices</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>
	<div class="w-75 p-3" style="background-color: #eee;">
  <h1 align="center">Best Practices In Continuous Development</h1>
	<p>
If one researches what the top software companies in the world use for continuous development, they will
find that every organization has different ways of going about continous development, but that they all have some very
similar practices. One practice is that these companies such as Instagram and Etsy make updates often. We can see that this is possible
with the setup we have here. Also, many use a software container system such as Docker. This helps bring down the dependency
issues within a system. They also all use a few different branches to work on. The reason for a few is so that the work cannot become
be so much different than the master branch. Also, built within the system are checks so that if something breaks the company can
know about it fast to reduce downtime.
	</p>
	</div>
</body>
</html>
