<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Use of The Cloud In Continuous Development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/cloud">Using The Cloud</a>
      <a class="nav-item nav-link" href="#">Best Practices</a>
    </div>
  </div>
</nav>
<body>
  <h1>The Use of The Cloud In Continuous Development & Deployment</h1>
	<p>
 Utilizing the cloud for continuous development and deployment has a lot
 of benefits over just local work. The first and foremost is the offshoring
 of resources that are needed for things such as docker builds or worrying
 about the upkeep of a system instead of utilizing Amazon Web Services. Secondly,
 the online repository on Github in this instance can give the feel of a central
  repository for multiple members of a project to from and look at.
	</p>
</body>
</html>
