<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Continuous Development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Continuous Development</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">>
        <li><a href="/">Home</a></li>
				<li><a href="/cloud">Using The Cloud</a></li>
				<li><a href="/best">Best Practices</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>
	<h1>Continuous Development</h1>
	<p>
		Creating an environment for continuous development is not a process that can be easily implemented well.
		 For this project we will be focusing on creating an environment for continuous development and deployment
		  for a Flask web application. This tutorial will follow the steps necessary through using a linux machine
			for local development work, git and github for version control, docker and docker cloud for image virtualization,
			flask web applications for web development, ansible for automatic machine configuration management, and Amazon Web
			Services for virtual machine hosting.
	</p>
</body>
</html>
