---
#Playbook for staging website.
- name: Deploy the staging version of your website based on the newest tag of your docker-cloud-test image
  hosts: localhost
  become: true
  vars:
    fproject_environment: staging
    fproject_image_version: release-3.0.4
    fproject_host_port: 8081
    fproject_container_port: 5000
  roles:
    - fproject
